<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluating a News Article</title>
</head>
<body>
    <main class="centered-container">
        <h1>Evaluating a News Article</h1>
        <div id="error"></div>
        <form>
            <input type="url" id="url-input" placeholder="URL to analyze">
            <button id="send-button">Send</button>
        </form>
        <div id="result-container" class="hidden">
            <div id="score_tag">score-tag</div>
            <div id="agreement">agreement</div>
            <div id="subjectivity">subjectivity</div>
            <div id="confidence">confidence</div>
            <div id="irony">irony</div>
        </div>
    </main>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }
    </script>
</body>
</html>